section.header-hello
  .header-nav
    h1.logo ЕР
    +nav
    +social
    .tablet
      .tablet__menu
        span.tablet__menu__row
        span.tablet__menu__row
        span.tablet__menu__row
    .mini-menu
      .mini-menu__cross
        .tablet__menu
          span.tablet__menu__row
          span.tablet__menu__row
          span.tablet__menu__row
      .mini-menu__nav
        +nav
      .mini-menu__social
        +social
  .header-content
    p.header__info Личный сайт<br>веб-разработчика
    h1.header__title Евгений<br>Родин
  p.scroll-pin
    a.scroll-pin__a(href="#info-block") Скролл
    +icon('scroll', 'scroll-pin__svg')