footer.wrapper.wrapper-footer
  .container.container-footer
    .block-footer
      .block-footer__year-info
        .block-footer__year
          p.block-footer__year__text © 2019
        .block-footer__dev-info
          h3.block-footer__dev-info__h3 Евгений Родин
          p.block-footer__dev-info__text Личный сайт веб-разработчика
      .block-footer__menu
        +nav
        .block-footer__menu__info
          .block-footer__menu__info__social
            p.block-footer__menu__info__social__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
            +social
          .block-footer__menu__info__rools
            p.block-footer__menu__info__rools__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
            h5.block-footer__menu__info__rools__h5 Martin Golding