.budda__block
  .budda__block__bg
    +image('content/budda-par-bg.png','par-eff budda-par-bg')
    +image('content/budda-mountain.png','par-eff budda-mountain')
    +image('content/budda-cloud2.png','par-eff budda-cloud2')
  .budda__block__cloud
    +image('content/budda-par.png','par-eff budda-par')
    +image('content/budda-cloud3.png','par-eff budda-cloud3')
    +image('content/budda-cloud1.png','par-eff budda-cloud1')