.hero__block
  .hero__block__bg 
    +image('content/Sky.png','par-eff sky-par')
    +image('content/Mountain.png','par-eff mountain-par')
    +image('content/Mountain1.png','par-eff mountain1-par')
  .hero__block__ballum
    +image('content/White.png','par-eff white-par')
    +image('content/Man.png','par-eff man-par')
    +image('content/Baloon.png','par-eff baloon-par')
    +image('content/Cloud.png','par-eff cloud-par')