script(type="text/x-template")#my-info
  section.my-info
    .photo-info
      .photo-info__my-photo
        +image('content/user.jpg', 'my-photo-img')
      .location-age
        .location-age__block
          ul.location-age__block__sort
            li.location-age__block__sort__li Проживаю: 
            li.location-age__block__sort__li Возраст: 
            li.location-age__block__sort__li Родился: 
          ul.location-age__block__answer
            li.location-age__block__answer__li Москва
            li.location-age__block__answer__li 28 лет
            li.location-age__block__answer__li 6 декабрь 1991
    .info-greeting
      p.info-greeting__text Привет, меня зовут
      h3.info-greeting__h3 Евгений Родин
      p.info-greeting-text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
      .website-info
        p.website-info__p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
