script(type="text/x-template")#slider-container
  section.my-works(id='my-works')
    h2.my-works__title Мои работы
    .my-works__block
      display(
        v-if="isCreated"
        :works="works"
        :current-work="currentWork"
        :currentIndex="currentIndex"
        :currentIndexBg="currentIndexBg"
        @slide="handleSlide"
        @slideOnClick="slideOnClick"
      )
      info(
        v-if="isCreated"
        :current-work="currentWork"
      )

script(type="text/x-template")#slider-display
  .my-works__left
    .slider(:data-slide="currentIndexBg + 1")
      img(:src="currentWork.photo" alt="fullpic").slider__fullpic
      thumbs(
        :works="works"
        :current-work="currentWork"
        @slideOnClick="id=>$emit('slideOnClick',id)"
      )
      btns(
        @slide="$emit('slide', $event)"
      )

script(type="text/x-template")#slider-btns
  .slider__buttons
    .slider-button
      button(@click.prevent="$emit('slide', 'next')").slider-buttons__item
        +icon('arrow-down','slider-buttons__item--slide--prev')
      button(@click.prevent="$emit('slide', 'prev')").slider-buttons__item
        +icon('arrow-down','slider-buttons__item--slide--next')

script(type="text/x-template")#slider-thumbs
  .slider__previews
    ul.previews
      li.previews__item(
        v-for="work in reverseWorks"
        :key="work.id"
        :class="{active: work.id === currentWork.id }"
        @click="$emit('slideOnClick',work.id)"
        )
          a.previews__thumb-link
            img(:src="work.photo" alt="mini-pic").previews__pic

script(type="text/x-template")#slider-info
  .my-works__right
    tags(
      :tags ="currentWork.techs"
      )
    .my-works__text
      h1.my-works__h3 {{currentWork.title}}
    .my-works__desc-text
      p.my-works__p {{currentWork.description}}
    a.my-works__link(:href="currentWork.link")
      +icon('link', 'works__link')
      p.works__show Посмотреть сайт

script(type="text/x-template")#slider-tags
  ul.my-works__tags
    li.tags(v-for="tag in tags")
      .tags__item {{tag.name}}
