include ./mixins.pug
<!DOCTYPE html>
html(lang="ru" id='app')
  include ./pug/_head.pug
  body
    .page-preloader
      include ./templates/entry.pug
    .wrapper.wrapper-header
      include ./pug/_header-parallax.pug
      .container#header
        include ./pug/_1header-nav.pug
      .container#info-block
        #my-info-component
      include ./pug/_triangles.pug
    .wrapper.wrapper-skills
      .container
        #skills-component
        #slider-component
    .wrapper.wrapper-responses
      include ./pug/_triangles.pug
      include ./pug/_footer-parallax.pug
      .container#submit-me
        #responses-component
        include ./pug/_6submit.pug
    include ./pug/_7footer.pug
